/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 jun 2024, 11:41:12
    Author     : paula
*/

.grayscale {
    filter: grayscale(100%);
}
.fixed-size {
    width: 10em; 
    height: 5em; 
    overflow: hidden; /* Oculta el desbordamiento de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-size img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}