/* 
** CSS para imitar una calculadora clásica
*/

/*importamos la tipografía de Google Roboto Mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*hay que referenciar las clases de la plantilla adminlte_navbar, como "card"*/
.card, .calculator-container {
    background-color: #f4f4f9;
    font-family: 'Roboto Mono';
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #484a49;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #555;
}

label.error, .error {
    font-family: 'Source Sans Pro', sans serif;
    color: #D8000C;
    background-color: #FFBABA;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    margin-top: 10px;
}


.card-title {
    color: #ffffff;
    font-family: 'Roboto Mono';
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #ffffff;
    font-family: 'Roboto Mono';
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0e68c;
    font-family: 'Roboto Mono';
}

select, select option {
    font-family: 'Roboto Mono'; 
}
input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

input.editable, select.editable {
    background-color: #fffacd; /* Fondo amarillo */
    color: #000000;
}


input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
}