.error {
    color: red;
    font-weight: normal;
}
label.error {
    color: red;
    font-weight: normal;
    margin-top: 5px;
}
input.error, select.error, textarea.error {
    border-color: red;
    background-color: #ffffcc;
}